h1,
h2,
h3,
h4,
h5,
h6 {
	color: #f2a7ad;
}

h1,
h2,
h3,
h4,
h5,
h6 a {
	color: #f2a7ad;
}

p.header {
	color: #f2778d;
	width: 650px;
}

label {
	color: #f2a7ad;
	font-family: 'Josefin Sans', sans-serif;
}

/* Column Layouts */

.logo {
	width: 75px;
	height: 75px;
}

.top {
	color: #f2778d;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f2a7ad;
}

ul.thumbnail {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f2f2f2;
}

li.menu {
	float: left;
}

li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #f2778d;
	color: #fff;
}

/* Bootstrap Override */

.btn-primary:hover,
.btn-primary {
	color: #f2778d;
	background-color: #b3a394;
	border-color: #b3a394;
	display: block;
	padding: 10px 5px;
	text-align: center;
	text-decoration: none;
	width: 200px;
	border-radius: 8px;
	margin-left: 20px;
}

.btn-primary:hover {
	background-color: #f2778d;
}

.btn.btn-primary:active {
	background-color: #f2778d !important;
}
